*, *:before, *:after {
    outline: none !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent !important;
    -moz-tap-highlight-color: transparent !important;
    -o-tap-highlight-color: transparent !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input:invalid {
    box-shadow: none;
}
h1,h2,h3,h4,span,p,b {
    cursor: default;
}
ul {
    list-style: none;
}
a {
    text-decoration: unset;
}
button, input, textarea {
    font-family: $FiraSans;
}
body {
    font-family: $FiraSans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $bg-white;
    line-height: 1.25;
    color: $text-black;
    min-width: 320px;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    transition: 5000000s ease-in-out 0s;
}
img, svg {
    width: 100%;
    height: 100%;
}
button {
    cursor: pointer;
    @include highlight;
}
.wrapper {
    max-width: 1476px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
}
.btn-text {
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    background-color: transparent;
    height: 48px;
    padding: 0 16px;
    min-width: 104px;
    border-radius: 4px;
    @include ti-1;
    @include hover {
        &:hover {
            border-color: $br-black;
        }
    }
    &:active {
        border-color: $br-black;
    }
    &__text {
        font-size: 16px;
        color: $text-black;
        cursor: pointer;
    }
    &__icon {
        width: 16px;
        height: 16px;
        object-fit: contain;
        margin-right: 10px;
    }
}