header {
    display: flex;
    padding-top: 24px;
    justify-content: center;
}
.header {
    display: flex;
    max-width: 1920px;
    width: 100%;
    padding: 0 32px;
    justify-content: space-between;
}
.logo {
    width: 158px;
    height: 48px;
    img {
        object-fit: contain;
    }
}