@mixin hover {
    @media (hover: hover) { @content; }
}

@mixin table-min {
    @media screen and (min-width: 992px) { @content; }
}

@mixin table {
    @media screen and (max-width: 991px) { @content; }
}

@mixin phone-large {
    @media screen and (max-width: 767px) { @content; }
}

@mixin phone-small {
    @media screen and (max-width: 480px) { @content; }
}

@mixin highlight {
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

@mixin ti-1 {
    transition: .1s linear
}

@mixin ti-15 {
    transition: .15s linear
}