<template>
    <header>
        <div class="header">
            <a href="#" class="logo">
                <img src="static/images/logo.svg" alt="">
            </a>

            <button type="button" class="btn-text">
                <img src="static/images/log-in.svg" alt="" class="btn-text__icon">
                <span class="btn-text__text">Войти</span>
            </button>
        </div>
    </header>
</template>

<script>
    export default {
        name: "headerSection"
    }
</script>

<style scoped>

</style>